

body {
    background-color: aquamarine;
    text-align: center;
}


h1 {
    color: lightpink;
    font-family: Courier;
    text-align: center;
    font-size: 60px; 
}

form {
    /* position: fixed; */
    border: 3px solid whitesmoke;
    padding: 50px;
    display: inline-block;
}

#inputbox {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}



