

body {
    background-color: aquamarine;
    text-align: center;
    font-family: Courier;
}


h1 {
    color: lightpink;
    text-align: center;
    font-size: 60px; 
}

form {
    /* position: fixed; */
    border: 3px solid whitesmoke;
    padding: 50px;
    display: inline-block;
    width: 80%;
}

p {
	color: red;
    font-size: 20px;
	margin: 0px;
}

span {
	color: red;
    font-size: 20px;
	margin: 0px;
}


label {
    font-size: 20px;
}

#inputbox {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 70%;
}

table {
    width: 80%;
    margin: 30px auto;
    border: 3px solid whitesmoke;
    width: 90%;
    /* border-collapse: collapse; */
}

/* tr {
	border-bottom: 1px solid #cbcbcb;
    border: 5px solid grey;    
} */

th {
	font-size: 19px;
	color: black;
}

th, td{
    height: 30px;
    padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}

.task {
	text-align: center;
}

.delete{
	text-align: center;
}
.delete a{
	color: white;
	background: #959095;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}

.btn{
    color: black;
	background: white;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}

.btn:hover{
    background: #070707;
    color: white;
}



